.registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textInputRegister {
    width: 35vw;
    height: 2.5em;
    border-radius: 10px;
    text-align: center;
    background-color: #E3E3E3;
    font-size: 18px;

    margin: 0.7em;

    box-shadow: inset 2px 2px 6px #3d3d3d;
}

.textInputRegister.error {
    border: 2px solid #fc1111;
    box-shadow: 0 0 5px #fc1111;
}

.errorMessage {
    color: #fc1111;
    font-size: 17px;
    margin: 0;
    background-color: #4E98DD;
    padding: 0.2em;
    border-radius: 10px;
}

.textInputRegister::placeholder {
    color: #4f4e4e;
}

.registerButton {
    width: 25vw;
    height: 2.5em;
    border-radius: 10px;
    text-align: center;
    background-color: #E3E3E3;
    font-size: 18px;
    text-color: black;

    margin: 0.5em;

    box-shadow: 2px 2px 4px #3d3d3d;
}

.registerButton:active {
    background-color: #b0b0b0;
}

.registerButton:hover {
    background-color: #d0cfcf;
}

@media only screen and (max-width: 795px) {
    .textInputRegister {
        width: 90%;
        /*margin-bottom: 2em;*/
    }
    .registerButton {
        width: 10em;
        padding: 0.5em;
        font-size: 1em;
    }
}